@import "src/assets/colors";

.container {
  width: 480px;
  height: 92px;
}
.title {
  height: 32px;
  @font-face {
    font-family: 'Helios';
    src: url("../../fonts/HeliosC.ttf");
    font-style: bold;
    font-weight: 900;
  }
    font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: $primary;
  margin-bottom: 4px;
}
.input {
  width: 480px;
  height: 56px;
  border: 1px solid $gray;
  box-sizing: border-box;
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $secondary;
  padding-left: 20px;
  &:focus {
    outline: none;
    border: 2px solid $gray;
  }
  &::placeholder {
    font-family: "Helios";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: $secondary;
    padding: 14px 10px 10px 0px;
    box-sizing: border-box;
  }
}
.disabled {
  background: $gray;
  cursor: not-allowed;
}

.valid {
  border: 1px solid $red;
}
.validText {
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: $red;
}
