@import "src/assets/colors";

.containerDescription {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-bottom: 1px solid $gray;
  width: 1120px;
  height: 48px;
  margin-top: 72px;
}
.DescriptionTab {
  @font-face {
    font-family: "HeliosLightC";
    src: url("../../fonts/HeliosLightC.ttf");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
  display: flex;
  justify-content: center;
    line-height: 24px;
  width: 161px;
  height: 48px;
  color: $secondary;

  gap: 10px;
  &:hover {
    cursor: pointer;
    color: $primary;
  }
}

.activeTab {
  box-shadow: 0px 2px 0px $primary;
}

.disabled {
  color: $gray;
  &:hover {
    cursor: not-allowed;
    color: $gray;
  }
}

// SignIn styles

.containerSignIn {
    width: 544px;
    height: 70px;
    border-bottom: 1px solid $gray;
    display: flex;
    justify-content: center;

}
.SignInTab{
    width: 239px;
    height: 70px;
    font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.05em;
color: $primary;
}
.activeTab {
    border-bottom: 2px solid $primary;
  }