.cardContainer {
    width: 352px;
    height: 454px;
}

.imageContainer {
    width: 352px;
    height: 264px;
}
.titleContainer {
    width: 334px;
    height: 64px;
    margin-top: 20px;
}
.authorContainer {
    width: 226px;
    height: 24px;
    margin-top: 8px;
}
.priceContainer {
    width: 352px;
    height: 33px;
    margin-top: 40;
}