@import "src/assets/colors";

.container {
  width: 544px;
  height: 444px;
  margin: 214px auto 0;
  border: 1px solid $gray;
  padding: 40px 32px;
  box-sizing: border-box;
}

.Text {
  padding: 20px;
  box-sizing: border-box;
  margin-top: 32px;
  width: 480px;
  height: 89px;
  background-color: $purple;
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.inputContainer {
    margin-top: 32px;
    width: 480px;
}
.button {
    margin-top: 40px;
}