.container {
  width: 1120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
 
}
.titleContainer {
  width: 1120px;
  height: 128px;

}

.cardsContainer {
    width: 1120px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 49px 32px;
  margin-top: 49px;
}
