@import "src/assets/colors";

.headerContainer {
  width: 1120px;
  height: 103px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  align-items: center;
}
.logo {
  width: 137.51px;
  height: 28.64px;
}
.searchContainer {
  width: 542px;
  height: 56px;
}
.inputWithButton {
  width: 542px;
  height: 56px;
  display: flex;
  border: 1px solid $gray;
  &:hover {
    border: 2px solid $gray;
    width: 541px;
    height: 55px;
    .searchIcon {
      margin-top: 17px;
    }
    .input {
      margin: 1px 0 0 1px;
    }
  }
}
.input {
  margin: 2px 0 0 2px;
  padding-left: 20px;
  outline: none;
  border: none;
  width: 542px;
  height: 50px;
  font-family: "Helios";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $secondary;
  &::placeholder {
    font-family: "Helios";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $secondary;
    padding: 14px 10px 10px 0px;
  }
}
.searchIcon {
  width: 20px;
  height: 20px;
  margin: 18px;
}
.iconsContainer {
  width: 143px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.button {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
