body {
  margin: 0;
}

html,
body,
#root {
  flex: 1;
  height: 100%;
  display: flex;
}
@font-face {
    font-family: 'DIN Pro';
    src: url('../src/fonts/DINPro-Light.ttf');
    src: url('../src/fonts/DINPro-Light.woff') format('woff'),
}
